html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
/*.book-cover {
	width: 128;
	height: 193;
}*/	font-family: 'Roboto', sans-serif;
}